{# templates/lucky/number.html.twig #}

<h1>Your lucky number is {{ number }}</h1>
<link rel="stylesheet" href="http://localhost:9000/assets/style.main.css">
<link rel="stylesheet" href="http://localhost:9000/assets/style.base.css">
<script src="http://localhost:9000/assets/main.js"></script>
<script src="http://localhost:9000/assets/base.js"></script>